@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.corpo {
    background: #000000;
}

.cabecalho {
    background-color: #CB2128;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu li a {
    position: relative;
    display: flex;
    color: #FFFFFF;
    font-family: 'Alata';
    font-weight: 400;
    font-size: 24px;
    padding: 20px;
}

.menu li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #FFFFFF;
    transition: all 0.5s ease-in-out 0s
}

.menu li a:hover::after {
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

.grid1 {
    background-image: url("img-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-gap: 20px;
    animation: bgChange 20s linear infinite;
}

@keyframes bgChange{
    0%{
        background-image: url("img-1.png");
    }
    20%{
        background-image: url("img-1.png");
    }
    25%{
        background-image: url("img-23.png");
    }
    45%{
        background-image: url("img-23.png");
    }
    50%{
        background-image: url("img-24.png");
    }
    70%{
        background-image: url("img-24.png");
    }
    75%{
        background-image: url("img-23.png");
    }
    95%{
        background-image: url("img-23.png");
    }
}

.div1 {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}

.h1-1 {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

.descricao {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 24px;
    width: 450px;
    color: #FFFFFF;
}

.p-3-1{
    font-family: 'Alata';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    margin-top: -60px;
    background-color: rgba(203, 33, 40, 0.5);
    padding: 20px;
}

h2 {
    font-family: 'Alata';
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    padding: 35px;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    grid-column-gap: 20px;
    align-items: center;
    padding: 20px;
}

.img3 {
    margin-top: 10px;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 1080px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    height: 90px;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.arrow-right {
    left: auto;
    right: 0;
    bottom: 0;
}

.item {
    width: 420px;
    height: 240px;
    flex-shrink: 0;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1080px;
    margin: 0 auto;
    grid-gap: 20px;
    align-items: center;
    padding: 20px;
}

.overflow {
    overflow: hidden;
}

.overflow img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.overflow img:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.vejamais {
    width: 100%;
    height: 100%;
    font-family: 'Alata';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(203, 33, 40, 0.5);
}

footer {
    background-color: #CB2128;
    margin-top: 40px;
}

.mobile-menu-icon {
    display: none;
}

.menu-mobile {
    display: none;
}

@media screen and (max-width: 730px) {
    .menu {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        max-width: 70px;

    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu-mobile menu {
        display: block;
    }

    .open {
        display: block;
    }

    .grid3 {
        grid-template-columns: 1fr;
    }

    .grid4 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px) {
    .h1-1{
        width: 100vw;
    }

    .logo {
        width: 100vw;
    }

    .descricao {
        width: 100vw;
    }
}
